body{
    background-image: url("IMG_124medows.jpg");
    /* background-size: 1300px 700px; */
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#pala{
margin-left: 40%;

}

.all {
    text-align: center;
    /* margin-left: 107%; */
    /* margin-top:4%; */
    padding: 1%;
    color:blue;
    font-size: 200%;
    border-width: 3px;
    border-block-color: solid black;
}

#button:hover{
    background-color: green;
}
/* #date {
    text-align: center;
   
    padding: 1%;
    color: rgb(0, 140, 255);
    font-size: 150%;
    border-width: 3px;
} */

 #click{
    /* text-align: center; */
    margin-left: 85%;
    margin-top:32%;
    padding: 1%;
    color:#ffffff;
    font-size: 120%;
    border-width: 3px;
    margin-bottom: 10%;
} 
